
:root {
    --main-text-color: brown;
    --main-background-color: #f9fafb;
    --form-container-background-color: white;
    --font: sans-serif, Arial, Helvetica;
    --heading-font-wieight:900;
    --container-title-size:300;
    --form-font-weight:100;
    --heading-bottom-margin:2rem;
    --heading-font-size:1.3rem;
    --heading-width:25rem;
    --left-space: 3rem;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.side-banner {
    background: center center ;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: min(1000px);
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 10px;
    color: white;
    opacity: 1;
    
}

.image-container {
    margin-top: 10rem;
    width: 100%;
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
     background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

.logo-text {
    font-family: Norse-Bold, sans-serif;
    font-size: 5rem;
    color: var(--form-container-background-color);
}

.main-content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
}

[class*="heading"] {
    padding-bottom: 2rem;
    font-family: var(--font);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-wieight);
    margin-left: var(--left-space);
}

.form-container {
    background-color: var(--form-container-background-color);
    width: auto;
    box-shadow: 0 10px 5px lightgrey;
}

form {
    margin-left: var(--left-space);
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: var(--font);
}

input, button {
    align-self: flex-start;
}

.form-title {
    padding-left: var(--left-space);
    font-size: 1.2rem;
    font-family: var(--font);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input {
    border: 0.1rem #E5E7EB solid;
    border-radius: 0.25rem;
    font-size: var(--heading-font-size);
    margin-bottom:1rem;
}

label {
font-weight: 200;
font-size: 0.9rem;
}

input:focus {
    border: 0.15rem blue solid;
}

button {
    border-style: none;
    margin-top: 3rem;
    margin-left: var(--left-space);
    background-color: #596D48;
    font-size: 1.2rem;
    color: white;
    border-radius: 0.35rem;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 1rem 3rem;
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding-bottom: 0.5rem;
    margin-left: var(--left-space);
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: var(--heading-font-wieight);
}

.photo-banner-footer {
    padding-bottom: 0.5rem;
    font-family: var(--font);
    color: white;
    margin-top: auto;
    cursor: pointer;
}

a.side-footer {
    text-decoration: underline;
    color: white;
}