
:root {
    --main-text-color: brown;
    --main-background-color: #f9fafb;
    --form-container-background-color: white;
    --font: sans-serif, Arial, Helvetica;
    --heading-font-wieight:900;
    --container-title-size:300;
    --form-font-weight:100;
    --heading-bottom-margin:2rem;
    --heading-font-size:1.3rem;
    --heading-width:25rem;
    --left-space: 3rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.side-banner {
    background: center center ;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: min(1000px);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

img {
    margin-top: 10px;
    color: white;
    opacity: 1;
    
}


.image-container {
    width: 100%;
    background: black;
    opacity: 0.5;
    text-align: center;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

.logo-text {
    font-family: Norse-Bold, sans-serif;
    font-size: 5rem;
    color: var(--form-container-background-color);
    opacity: 1;
}

.main-content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
}

[class*="heading"] {
    padding-bottom: 2rem;
    font-family: var(--font);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-wieight);
    margin-left: var(--left-space);
}

.form-container {
    background-color: var(--form-container-background-color);
    width: auto;
    box-shadow: 0 10px 5px lightgrey;
}



form {
    margin-left: var(--left-space);
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: var(--font);
}

input, button {
    align-self: flex-start;
}

.form-title {
    padding-left: var(--left-space);
    font-size: 1.2rem;
    font-family: var(--font);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input {
    border: 0.1rem #E5E7EB solid;
    border-radius: 0.25rem;
    font-size: var(--heading-font-size);
    margin-bottom:1rem;
}

label {
font-weight: 200;
font-size: 0.9rem;
}

button {
    margin-top: 2rem;
    margin-left: var(--left-space);
    background-color: #596D48;
    font-size: 1.2rem;
    color: white;
    border-radius: 0.35rem;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 1rem 3rem;
    cursor: pointer;
}